	<div id="contact" class="row banner-md mx-auto color-bg-charcoal">
		<div class="col-12 mx-auto">
			<h1 class="display-4 tCenter">Contact</h1>
		</div>
		<div class="spacer-md"></div>

		<div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 padding-sm">

			<address>
			<b>Mr. Incognito</b><br>
			<a href="mailto:itstopsecret@incognito.com">itstopsecret@incognito.com</a><br>
			</address>

		</div>
    </div>	

	
	</div>
	  </div>
</div>
	</body>

</html>