<% include cp_header %>

<div class="container-fluid">
	<div class="row mx-auto">
		<div class="col-xl-6 col-lg-8 col-md-12 mx-auto">

		<div class="col-lg-12">
			<h1>Uusi näyte</h1>
		</div>

		<div class="col-lg-12">

<div id="send-images">

	<label for="sent-images">Lähetetyt kuvat</label>
	<div id="sent-images"></div>


	<!-- Large modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Valitse valmiiksi ladattuja kuva</button>

<div id="image-browser-modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header"><h5 class="modal-title">Browse all images</h5></div>
	  <div class="modal-body">
	  <div id="loading-SVG" class="mx-auto" style="width:100px"><img src="/Style/Eclipse-1s-200px.svg"></div>
	  </div>
    </div>
  </div>
</div>

	<form>
  <div class="form-group">
<label for="image-input">Lähetä kuvia</label>
    <input id="image-input" type="file" class="form-control-file">
  </div>
</form>

</div> <!-- id=sent-images -->
</div> <!-- col -->

	<div class="col-lg-12">

<label for="heading">Otsikko</label>
<div class="input-group mb-3">
  <input type="text" class="form-control" id="heading" aria-describedby="basic-addon3">
</div>

<label for="summernote">Teksti</label>

<div id="summernote"></div>

</div> <!-- col -->

	<div class="col-lg-12">
		<form>
			<div class="form-group">
				<label for="banner-input">Lataa banneri</label>
				<input id="banner-input" type="file" class="form-control-file">
			</div>
		</form>
	</div>

	<div class="col-lg-12" style="padding-top:20px">

<button id="btn-submit" type="button" class="btn btn-success">Lähetä</button>

<button id="btn-save" type="button" class="btn btn-warning">Tallenna</button>
</div> <!-- col -->


<script src="./NewEntry.js"></script>
<script src="./ImageHandler.js"></script>
		</div> <!-- col -->
	</div> <!-- row -->
</div><!-- container -->
<% include cp_footer %>